<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <style>
    body {
      background-image: url('https://i.pinimg.com/originals/d5/d1/ca/d5d1ca7673df4085b65fab6dde15a9f8.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    p {text-align: center;}
    h1 {text-align: center;}
    
    </style>

  <body>
    
    
    
    <h1 style="color:rgb(255, 255, 255)">Folks are usually about as happy as they make their minds up to be</h1>
    <h1 style="color:rgb(255, 255, 255)">We are the music makers, and we are the dreamers of dreams</h1>
    <h1 style="color:rgb(255, 255, 255)">The country was entranced by his charisma</h1>
    <h1 style="color:rgb(255, 255, 255)">This latter prediction came true to a significant degree, at least in the short term</h1>

    <form action="pageTwo">
      <button type="submit" class="center">pageTwo</button>
    <form>

    <!-- <a href="pageTwo.html"> <button type="button" name="button">pageTwo</button> </a> -->
    <!-- <a href="pageThree.html"> <button type="button" name="button">pageThree</button> </a> -->
    <!-- <a href="pageFour.html"> <button type="button" name="button">pageFour</button> </a> -->
    
    <!-- <img src="https://cutewallpaper.org/21/wallpaper-for-music/74+-Retro-Music-Wallpapers-on-WallpaperPlay.jpg" class="center"> -->

  </body>
</html>
