<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jazz</title>
    <link rel="stylesheet" href="syles.css">
  </head>

  <style>
    body {
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSJ8GzuWvqKI-9RHeYD79Qb6spw8TtoEAOiKg&usqp=CAU');
      background-repeat: no-repeat; 
      background-attachment: fixed;
      background-size: cover;
    }
    </style>

  <body>
    <h1 style="color:rgb(255, 255, 255)">Jazz</h1>

    <h3 style="color:rgb(109, 102, 102)">{{text}}</h3>

  </body>
</html>