<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EDM</title>
    <link rel="stylesheet" href="syles.css">
  </head>

  <style>
    body {
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRmxqXn0m6qwa4s7QHu6M5hCcvmfpFzpXEbqA&usqp=CAU');
    }
    </style>

  <body>
    <!-- need to add button to next page -->
    <h2 style="color:rgb(136, 55, 168)">EDM</h2>

    <form action="pageThree">
      <button type="submit">pageThree</button>
    <form>
      
    <p style="color:rgb(136, 55, 168)">{{text}}</p>

  </body>
</html>
